:root{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin-left: 3em;
    margin-right: 3em;
}

.titulo{
    font-family: sans-serif;
}

.black{
    color:black;
}

header{
    display: flex;
}
header{
    justify-content: space-between
}
header nav ul li{
    display: inline;
    list-style: none;
    color: #7f888f;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #7f888f;
}

.panel{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 5em
}



.line1{
    background-color:#f56a6a; 
    height: 5px; 
    border: 0;
}
.line2{
    background-color:#7f888f; 
    height: 2px; 
    border: 0;
}

.panel-img img{
    width: 70%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.but-cont{
    padding: 1em;
}

.button{
    background-color: white;
    color: #f56a6a;
    border-color: #f56a6a;
    border-width: 1px;
    padding: 0.7em 3em 0.7em 3em;
    border-radius: 5px;
}
.button:hover{
    background-color: #f56a6a;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
} 

.grid-p1{
    display: grid;
    grid-template-columns: 25% 75%
}

.grid-p1 .icon1{
    font-size: 3.5em;
    margin:auto;
    color: #f56a6a;
}

.topic{
    display: inline-block;
    padding-right: 4em;
    border-bottom: 0.3em solid #f56a6a;
}
